
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @user %> <%= form_with(model: @user, class: "shadow p-3 mb-5 bg-info rounded", local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :username, class: "form-label text-light" %><br/>
          <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a username" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, class: "form-label text-light" %><br/>
          <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "form-label text-light" %><br/>
          <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Choose your password" %>
        </div>
        <div class="row justify-content-center mb-3" >
          <%= f.submit "Sign up", class: "btn btn-outline-light btn-lg col-3" %>
        </div>
      <% end %>
    </div>
    <div class="text-center col-8 mb-3">
      <%= link_to '[Cancel and return to articles listing]', articles_path, class: "text-info" %>
    </div>
  </div>
</div>
